html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}
#foot {
  padding: 20px;
  bottom: 0;
  text-align: center;
  justify-content: center;
      align-items: center;
  position: fixed;
  background-color: lightblue;
  left: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* Begin Styling below*/

  h1{
    padding-top: 0.5em;
    padding-left: 0.5em;
  }
  *{margin: 0px;box-sizing: border-box;}
  ul{ padding: 0px}
  .clear{ clear: both}
  /*container*/
  #container{width: 1200px;padding:0px 0px; margin: auto; }
  h1{text-align:center;font-size: 50px;Padding:80px;Padding-top: 30px;}
  th{color: red;}
  td,th{font-size:20px;Padding:22px; display: table-cell;text-align: center;border-top: 1px solid #dee2e6}
  td{border-bottom: 1px solid #dee2e6}


    