h1{
  padding-top: 3em;
  padding-left: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}
h4{
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
p{
  padding: 10px;
}
.nav a{
  text-decoration: none;
  list-style: georgian;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.nav li{
  margin: 25px;
  list-style-type: none;
}
img{
  float: left;
  padding-top: 100px;
  padding-right: 20px;
}
.centre{
  padding-top: 100px;
  padding-left: 35px;
  float: inline-end;
}


    